---
import { GLOBAL } from "../../lib/variables";
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">
    {GLOBAL.aboutName}
  </h3>
</div>
<p class="text-sm text-gray-500">
  {GLOBAL.aboutDescription}
</p>
